<?xml version="1.0"?>
<config>

    <modules>
        <Shophub_ShopHubConnector>
            <version>1.1.6</version>
        </Shophub_ShopHubConnector>
    </modules>

    <frontend>
        <routers>
            <shophubconnector>
                <use>standard</use>
                <args>
                    <module>Shophub_ShopHubConnector</module>
                    <frontName>shophubconnector</frontName>
                </args>
            </shophubconnector>
        </routers>
        <events>
            <sales_order_place_after>
                <observers>
                    <shophubconnector_export_order>
                        <type>singleton</type>
                        <class>shophubconnector/observer_orderPlacement</class>
                        <method>afterPlaceOrder</method>
                    </shophubconnector_export_order>
                </observers>
            </sales_order_place_after>
            <sales_order_status_after>
                <observers>
                    <shophubconnector_update_order>
                        <class>shophubconnector/observer_orderStatusChange</class>
                        <method>afterSetOrderState</method>
                    </shophubconnector_update_order>
                </observers>
            </sales_order_status_after>
        </events>
    </frontend>

    <admin>
        <routers>
            <shophubconnector_admin>
                <use>admin</use>
                <args>
                    <module>Shophub_ShopHubConnector_Adminhtml</module>
                    <frontName>shophubconnector</frontName>
                </args>
            </shophubconnector_admin>
        </routers>
    </admin>

    <global>
        <models>
            <shophubconnector>
                <class>Shophub_ShopHubConnector_Model</class>
                <resourceModel>shophubconnector_mysql4</resourceModel>
            </shophubconnector>
            <shophubconnector_mysql4>
                <class>Shophub_ShopHubConnector_Model_Mysql4</class>
                <entities>
                    <accessTokenTable>
                        <table>shophub_access_tokens</table>
                    </accessTokenTable>
                    <apiLog>
                        <table>shophub_api_log</table>
                    </apiLog>
                </entities>
            </shophubconnector_mysql4>
            <catalog>
                <rewrite>
                    <api2_product_rest_admin_v1>Shophub_ShopHubConnector_Model_Catalog_Product_V1</api2_product_rest_admin_v1>
                </rewrite>
            </catalog>
            <sales>
                <rewrite>
                    <order>Shophub_ShopHubConnector_Model_Sales_Order</order>
                </rewrite>
            </sales>
        </models>
        <blocks>
            <shophubconnector>
                <class>Shophub_ShopHubConnector_Block</class>
            </shophubconnector>
            <!-- Start: Rewrite blocks for showing external status in customer account -->
            <sales>
                <rewrite>
                    <order_recent>Shophub_ShopHubConnector_Block_Sales_Order_Recent</order_recent>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <order_history>Shophub_ShopHubConnector_Block_Sales_Order_History</order_history>
                </rewrite>
            </sales>
            <sales>
                <rewrite>
                    <order_info>Shophub_ShopHubConnector_Block_Sales_Order_Info</order_info>
                </rewrite>
            </sales>
            <!-- End: Rewrite blocks for showing external status in customer account -->
        </blocks>
        <helpers>
            <shophubconnector>
                <class>Shophub_ShopHubConnector_Helper</class>
            </shophubconnector>
        </helpers>
        <resources>
            <shophubconnector_setup>
                <setup>
                    <module>Shophub_ShopHubConnector</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shophubconnector_setup>
            <shophubconnector_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shophubconnector_write>
            <shophubconnector_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shophubconnector_read>
        </resources>
    </global>

    <adminhtml>
        <menu>
            <shophubconnector>
                <title>ShopUnite</title>
                <sort_order>1000</sort_order>
                <children>
                    <item100>
                        <title>Api Log</title>
                        <sort_order>100</sort_order>
                        <action>shophubconnector/apilog</action>
                    </item100>
                    <item200>
                        <title>Configuration</title>
                        <sort_order>200</sort_order>
                        <action>adminhtml/system_config/edit/section/shophubconnector_settings</action>
                    </item200>
                </children>
            </shophubconnector>
        </menu>
        <events>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <shophubconnector_core_block_abstract_prepare_layout_before>
                        <class>shophubconnector/observer_gridMassaction</class>
                        <method>addExportOrderMassAction</method>
                    </shophubconnector_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <sales_order_status_after>
                <observers>
                    <shophubconnector_update_order>
                        <class>shophubconnector/observer_orderStatusChange</class>
                        <method>afterSetOrderState</method>
                    </shophubconnector_update_order>
                </observers>
            </sales_order_status_after>
        </events>
    </adminhtml>

    <default>
        <shophubconnector_settings>
            <general>
                <apiurl>https://app.shopunite.net/api/v1</apiurl>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
                <interface_ref_id>0</interface_ref_id>
            </general>
            <order_export>
                <is_active>0</is_active>
            </order_export>
            <dev>
                <apilog_max_size>100</apilog_max_size>
                <curl_timeout>30</curl_timeout>
                <logging_enabled>0</logging_enabled>
            </dev>
        </shophubconnector_settings>
    </default>

</config>
